<section class="section-class">
  <!-- HEADER -->
  <!-- ========   change your logo hear   ============ -->
  <a [routerLink]="['/']" class="d-flex justify-content-center align-items-center">
    <img src="assets/images/logo-dark.svg" alt="" class="mt-3 bbl-logo" />
  </a>
  <!-- BODY PART STARTS -->
  <body>
  <div class="container">
    <div class="row d-flex align-items-center content-bg justify-content-center py-3 my-4">
      <div class="col-md-4 col-lg-4 col-xl-4">
        <h1 class="text-style">FORGOT PASSWORD?</h1>
      </div>
      <div class="col-md-8 col-lg-8 col-xl-6 offset-xl-1">
        <div class="">
          <form [formGroup]="forgotPasswordForm" class="glass-back mt-5 py-5 shadow shadow-sm" autocomplete="false">
            <div class="d-flex flex-row justify-content-between">
              <div>
                <h2 class="text-primary fw-bold" *ngIf="!showOtpPortion">ENTER LOGIN ID</h2>
                <h2 class="text-primary fw-bold " *ngIf="showOtpPortion">ENTER OTP & NEW PASSWORD</h2>
              </div>
              <a [routerLink]="['/']" class="pt-2"><i class="ti ti-arrow-left fs-2 fw-bold text-primary"></i></a>
            </div>
            <hr>
            <div class="form-outline mb-4 row">
              <div class="col-12" *ngIf="!showOtpPortion">
                <!-- USERID SECTION -->
                <div class="d-flex flex-row">
                  <input
                    type="text"
                    placeholder="LOGIN ID"
                    class="form-control form-control-lg input-field1 text-uppercase border-2"
                    formControlName="userId"
                    id="userId"
                    [class.is-invalid]="forgotPasswordForm.get('userId').invalid
                   && forgotPasswordForm.get('userId').touched"
                    autocomplete="login-id"
                  />

                  <!-- REQUEST BUTTON -->
                  <div class="ms-2 pt-1">

                    <button
                      type="submit"
                      class="btn btn-primary shadow shadow-sm p-2"
                      *ngIf="!showOtpPortion"
                      (click)="onRequest()"
                      [disabled]="this.forgotPasswordForm.get('userId').invalid"
                    >
                      Request
                    </button>

                  </div>
                </div>

                <div class="invalid-feedback"
                     *ngIf="forgotPasswordForm.get('userId').hasError('required')
                                   &&  forgotPasswordForm.get('userId').touched ">
                  User ID required
                </div>
              </div>
            </div>

            <!-- OTP SECTION -->
            <app-otp
              [showOtpPortion]=showOtpPortion
              [numOfOtpFields]=otpInputFieldNumber
              [OTP]=genOtp
              (resendOtp)="onRequest()"
              (clearInputFields)="clearInputFields()"
            >
            </app-otp>
            <!-- OTP SECTION -->
            <div class="mx-5" *ngIf="showOtpPortion">
              <div class="password-visibility-container">
                <!-- NEW PASSWORD FIELD -->
                <label for="passwd" class="form-label text-muted"></label>
                <input
                  type="{{ hideEyeIcon ? 'text' : 'password' }}"
                  placeholder="New Password"
                  class="form-control form-control-lg border-2"
                  formControlName="passwd"
                  id="passwd"
                  [class.is-invalid]="forgotPasswordForm.get('passwd').invalid
                       && forgotPasswordForm.get('passwd').touched"
                  autocomplete="new-password"
                />
                <span class="password-toggle fs-3">
                         <i
                           class="ti ti-eye"
                           *ngIf="this.forgotPasswordForm.get('passwd').invalid? '' : showEyeIcon()"
                           (mousedown)="togglePasswordVisibility($event)"
                           (mouseup)="hidePasswordEyeIcon()">
                         </i>
                       </span>

                <div class="invalid-feedback"
                     *ngIf="forgotPasswordForm.get('passwd').hasError('required')
                                         &&  forgotPasswordForm.get('passwd').touched ">
                  New password required
                </div>
              </div>

              <div class="password-visibility-container">
                <!-- CONFIRM PASSWORD FIELD -->
                <label for="passwdRe" class="form-label text-muted"></label>
                <input
                  type="{{ hideConfirmEyeIcon ? 'text' : 'password' }}"
                  placeholder="Confirm Password"
                  class="form-control form-control-lg border-2"
                  formControlName="passwdRe"
                  id="passwdRe"
                  [class.is-invalid]="forgotPasswordForm.get('passwdRe').invalid
                       && forgotPasswordForm.get('passwdRe').touched"
                  autocomplete="confirm-password"
                />

                <span class="password-toggle fs-3">
                         <i
                           class="ti ti-eye"
                           *ngIf="this.forgotPasswordForm.get('passwdRe').invalid? '' : showConfirmEyeIcon()"
                           (mousedown)="toggleConfirmPasswordVisibility($event)"
                           (mouseup)="hideConfirmPasswordEyeIcon()">
                         </i>
                       </span>
                <div class="invalid-feedback d-flex flex-column"
                     *ngIf="this.forgotPasswordForm.get('passwdRe').invalid && (this.forgotPasswordForm.get('passwdRe').dirty || this.forgotPasswordForm.get('passwdRe').touched)">
                  <div *ngIf="this.forgotPasswordForm.get('passwdRe').errors?.['required']">Confirm Passwor required
                  </div>
                  <div *ngIf="this.forgotPasswordForm.get('passwdRe').errors?.['passwordMismatch']">Password not
                    matched
                  </div>
                </div>
              </div>
              <!-- SEND BUTTON -->
              <div class="d-flex justify-content-end mt-5">

                <button
                  type="submit"
                  class="btn btn-secondary shadow shadow-sm d-flex justify-content-center align-items-center "
                  (click)="onSubmit()"
                  [disabled]="formValidation() ">
                  Submit
                  <i class="ti ti-check"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </body>
  <!-- FOOTER -->
  <app-footer></app-footer>
</section>
