<div class="mt-5 row">
    <div class="col-6 form-outline mb-4">
        <label class="form-label fw-bold mb-0">
          Swift I/O<span class="ms-2 text-danger fs-3">*</span>
        </label>
        <select class="form-select border-2" formControlName="swiftIO">
          <option value="OUTGOING" selected>Outgoing</option>
          <option value="INCOMING">Incoming</option>
        </select>
      </div>

      <div class="col-6 form-outline w-50">
        <label class="form-label fw-bold mb-0">
          Message Type<span class="ms-2 text-danger fs-3">*</span>
        </label>
        <select class="form-select border-2" formControlName="swiftIO">
          <option value="OUTGOING" selected>Outgoing</option>
          <option value="INCOMING">Incoming</option>
        </select>
      </div>

</div>
