<div class="row d-flex justify-content-center align-items-center">
  <div class="col-lg-6 col-md-8 col-sm-12">
    <form [formGroup]="changePasswordForm" autocomplete="off" (ngSubmit)="onChangePassword()" 
      class="bg-white rounded shadow-md px-3">
      <div class="py-2">
        <h2 class="text-primary fw-bold pt-3">
          {{'CHNG_PASS'|translate | uppercase}}
        </h2>
      </div>
      <!-- Old Password input -->
      <div class="form-outline mb-3  password-visibility-container">
        <label class="form-label fw-bold text-muted fs-5 mb-0">
          {{'OLD_PASS'|translate}}
          <span class="ms-1 text-danger fs-3">*</span>
        </label>
        <input 
            type="{{ hideOldEyeIcon ? 'text' : 'password' }}"
            class="form-control border-2" 
            formControlName="loginKeyOld" />

        <span class="password-toggle fs-3">
          <i class="ti ti-eye" *ngIf="showOldEyeIcon()" (mousedown)="toggleOldPasswordVisibility($event)"
            (mouseup)="hideOldPasswordEyeIcon()">
          </i>
        </span>

        <div class="invalid-feedback d-flex flex-column"
                   *ngIf="loginKeyOld.invalid && (loginKeyOld.dirty || loginKeyOld.touched)">
                <div *ngIf="loginKeyOld.errors?.['required']">
                  Old Password Required
                </div>
                <!-- <div class="mt-1" *ngIf="loginKeyNew.errors?.['englishOnly']">
                  {{ 'ER_ENG_CHAR' | translate }}
                </div> -->
        </div>
      </div>
      <!-- New Password input -->
      <div class="form-outline mb-3 password-visibility-container">
        <label class="form-label fw-bold text-muted fs-5 mb-0">
          {{'NEW_PASS'|translate}}
          <span class="ms-1 text-danger fs-3">*</span>
        </label>
        <input type="{{ hideNewEyeIcon ? 'text' : 'password' }}"
          class="form-control border-2" formControlName="loginKeyNew" />

        <span class="password-toggle fs-3">
          <i class="ti ti-eye" *ngIf="showNewEyeIcon()" (mousedown)="toggleNewPasswordVisibility($event)"
            (mouseup)="hideNewPasswordEyeIcon()">
          </i>
        </span>

        <div class="invalid-feedback d-flex flex-column"
                   *ngIf="loginKeyNew.invalid && (loginKeyNew.dirty || loginKeyNew.touched)">
                <div *ngIf="loginKeyNew.errors?.['required']">
                  New Password Required
                </div>
                <!-- <div class="mt-1" *ngIf="loginKeyNew.errors?.['englishOnly']">
                  {{ 'ER_ENG_CHAR' | translate }}
                </div> -->
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="form-outline mb-3 password-visibility-container">
        <label class="form-label fw-bold text-muted fs-5 mb-0">
          {{'CONFRM_PASS'|translate}}
          <span class="ms-1 text-danger fs-3">*</span>
        </label>
        <input 
          type="{{ hideConfirmEyeIcon ? 'text' : 'password' }}"
          class="form-control border-2" 
          formControlName="loginKeyRe"
          >

        <span class="password-toggle fs-3">
          <i class="ti ti-eye" *ngIf="showConfirmEyeIcon()" (mousedown)="toggleConfirmPasswordVisibility($event)"
            (mouseup)="hideConfirmPasswordEyeIcon()">
          </i>
        </span>

        <div class="invalid-feedback d-flex flex-column"
                   *ngIf="loginKeyRe.invalid && (loginKeyRe.dirty || loginKeyRe.touched)">
                <div *ngIf="loginKeyRe.errors?.['required']">
                  Confirm Password Required
                </div>
                <!-- <div class="mt-1" *ngIf="loginKeyRe.errors?.['englishOnly']">
                  {{ 'ER_ENG_CHAR' | translate }}
                </div> -->
              </div>
      </div>

      <!-- Submit button -->     
      <div class="d-flex flex-row-reverse  pb-3">
        <div class="text-end">
          <button type="button" class="btn btn-outline-danger me-2 shadow-sm" [routerLink]="['/']" *ngIf="!hasForced">
            {{'MENU_CNCL'|translate}}
          </button>
          <button 
              type="button" 
              class="btn btn-secondary btn-block shadow-sm" 
              (click)="onChangePassword()"
              [disabled]="changePasswordForm.invalid">
              {{'BTN_SBMT'|translate}}
          </button>
        </div>    
      </div>
    </form>
  </div>
</div>